<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
</head>
<body>
 <img src="/example/get-check-code/" id="img_check_reg">
<form method="post" action="/example-app/check-code/">
    <label for="check_code">请根据上图填写验证码(点击图片更换)</label><br/><br/><br/>
    <input type="text" id="check_code" name="code">
    <input type="submit" value="提交">
</form>
<script type="text/javascript" src="/static/jquery-1.12.4.js"></script>
<script type="text/javascript" src="/static/jquery-migrate-1.2.1.js"></script>
<script type="text/javascript" src="/static/hello.js"></script>
</body>
</html>